body {
  background: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  color: #333;
  line-height: 14px;
  width: 760px;
}
a, a:hover {
  color: #3b5998;
  -moz-outline-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div#wrapper {
  border: 1px solid #b7b7b7;
  width: 758px;
}
div#wrapper div#header {
  background: #f7f7f7;
  padding: 0px 20px 15px 20px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 6px;
  height: 33px;
}
div#wrapper div#header h2 {
  margin: 15px 0px 15px 0px;
  font-size: 14px;
  padding: 0px 0px 0px 25px;
  background: url('../img/icon.png') no-repeat 1px 1px;
  float: left;
  color: #333;
}
div#wrapper div#header iframe {
  margin-top: 11px;
  float: right;
  overflow: hidden;
  height: 28px;
  width: 400px;
  border: none; 
}
div#wrapper div#count {
  margin-bottom: 6px;
  margin-left: 16px;
}
div#wrapper div#friends a {
  clear: both;
  display: block;
  border-top: 1px solid #d8dfea;
  padding: 0px;
  line-height: 40px;
  height: 40px;
  width: 758px;
}
div#wrapper div#friends a:hover {
  background-color: #f7f7f7;
}
div#wrapper div#friends a img.pic {
  float: left;
  padding-top: 5px;
  padding-left: 8px;
  width: 30px;
  height: 30px;
  border: 0px;
}
div#wrapper div#friends a img.status {
  float: left;
  padding-top: 16px;
  padding-left: 7px;
}
div#wrapper div#friends a span.name {
  float: left;
  padding-left: 6px;
  font-size: 12px;
  font-weight: bold;
}
div#wrapper div#error {
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #888;
  margin: 6px;
}
div.ad {
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  clear: both;
}
div#wrapper div.ad {
  border-top: 1px solid #d8dfea;
}
div.ad iframe {
  width: 728px;
  height: 90px;
  border: 0px;
}